// background colors from lightest to darkest
$bg_1: #36365F;
$bg_2: #282848;
$bg_3: #1F1F3D;
$bg_4: #181836;
$bg_5: #0F0F2E;
$bg_6: #09092B;

// semantic colors
$semantic_success: #84D6A2;
$semantic_info: #989FFF;
$semantic_warning: #FFBB5F;
$semantic_error: #FF7474;

// decoration colors
$deco_green: #3BDCC2;
$deco_green_darker: #24B69E;
$deco_red: #FF6483;
$deco_red_darker: #E04463;